@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color: purple">@ViewData["Title"]</h2>

    <br />
    <br />
    <h3>Belkız sokak Reina Apt. No:7</h3>
    <h3>Nizip GAZİANTEP</h3>
    <br />
    <h3>E-posta adresimiz:</h3>
    <h3><a href="mailto:zlhyldrm06@gmail.com">zlhyldrm06@gmail.com</a></h3>
</div>
